*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-image: url(../img/fondocv.jpg);
    background-repeat: no-repeat;

  }

#Hero-Section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
#Educacion{
  background-color: rgb(7, 1, 12);
  color:white;
  border-radius:48%;
}

#Portafolio{
  background-color: rgb(7, 1, 12);
  border-radius:10%;
  color:white;
}

.navbar-brand{
    width: 100px;
  }

.cv-image{
    border-radius: 25%;
    width: 150px;
    height: 200px;
    border: solid, #ffff;
    filter:grayscale(100%)
}

img:hover{
    filter:grayscale(0%)
}