*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-image: url(../img/fondocv.jpg);
    background-repeat: no-repeat;

  }
  .rgb-text{
    color: black;
    text-shadow: 0 0 5px rgb(0, 255, 255);
    animation: rgbAnimation 2s infinite alternate;

  }


#Hero-Section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
#Educacion{
  background-color: rgba(7, 1, 12, 0.774);
  color:white;
  border-radius:48%;
}

#Portafolio{
  background-color: rgba(7, 1, 12, 0.774);
  border-radius:10%;
  color:white;
}

.navbar-brand{
    width: 100px;
  }

.cv-image{
    border-radius: 25%;
    width: 150px;
    height: 200px;
    filter:grayscale(100%)
}

img:hover{
    filter:grayscale(0%)
}