*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
  }

#Hero-Section {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

.navbar-brand{
    width: 100px;
  }